.carrossel__titulo{
    color: black;
    background-color: rgb(245, 145, 198);
    text-align: center;
    font-size: 8px;
    font-weight: 700;
    padding: 1em;
}
.swiper-slide img{
    width: 100%;
    


}